.hero{
    min-height:100vh;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:120px 100px;

    background:
        linear-gradient(
            135deg,
            #0d1f23,
            #132e35,
            #2d4a53
        );
}

.hero-left{
    width:50%;
}

.hero-left h1{
    font-size:70px;
    color:white;
    margin-bottom:25px;
}

.hero-left p{
    font-size:20px;
    color:#afb3b7;
    margin-bottom:40px;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

.primary-btn{
    background:#69818d;
    color:white;
    padding:15px 35px;
    border-radius:12px;
}

.secondary-btn{
    border:1px solid #69818d;
    color:#afb3b7;
    padding:15px 35px;
    border-radius:12px;
}

.dashboard-card{
    background:rgba(255,255,255,.05);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.1);

    padding:40px;

    border-radius:25px;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:20px;
}

.small-card{
    background:#132e35;

    padding:30px;

    border-radius:20px;

    text-align:center;
}

.small-card h2{
    color:white;
}

.features{
    padding:100px;
    background:#132e35;
}

.features h2{
    text-align:center;
    color:white;
    margin-bottom:50px;
}

.feature-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.feature-card{
    background:#2d4a53;

    padding:40px;

    border-radius:20px;

    text-align:center;

    transition:.3s;
}

.feature-card:hover{
    transform:translateY(-10px);
}

.feature-card h3{
    color:white;
    margin:20px 0;
}

.feature-card p{
    color:#afb3b7;
}